//
// Views / Activity
// ================================================================================


// Sidebar Contents
// ========================================


.v_activity__side-block {

  &:not(:last-of-type) {
    margin-bottom: $space-200;

    @include breakpoint(lg) {
      margin-bottom: $space-300;
    }

    @include breakpoint(xl) {
      margin-bottom: $space-400;
    }
  }

  p {
    margin-bottom: $space-100;

    font-size: $fontSize-087;
    color: $color-grey-700;
  }


  // Exceptions

  &--details {

    .v_activity__side-contents {

      @include breakpoint(sm) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: $space-200;
      }

      @include breakpoint(md) {
        display: block;
      }

    }

    a.v_activity__details-link {
      display: inline-flex;
      align-items: center;

      color: $color-grey-900;

      transition: color $trans-0200 $trans-easing;

      .v_activity__details-link-svg {
        margin-left: $space-025;
        width: $space-100;
        height: $space-100;

        line-height: 0;

        color: $color-grey-400;
        transition: color $trans-0200 $trans-easing;
      }

      &:hover {
        color: $color-blue;

        .v_activity__details-link-svg {
          color: $color-blue;
        }
      }
    }
  }

  &--printable {
    display: none;

    @include breakpoint(lg) {
      display: block;
      // width: $spacePercentual-80;
    }
  }

  .c_button {

    &:not(:last-of-type) {
      margin-bottom: $space-050;
    }
  }
}


.v_activity__side-title {
  margin-bottom: $space-150;

  font-family: $font-display;
  font-weight: 500;
  font-size: $fontSize-100;
  color: $color-grey-700;

  border-bottom: 1px solid $color-grey-300;
  padding: $space-025;
}


.v_activity__side-contents p a:link,
.v_activity__side-contents p a:visited {
  color: $color-blue;
}


.v_activity__details-group {
  margin-bottom: $space-100;

  @include breakpoint(xl) {
    margin-bottom: $space-150;
  }
}


.v_activity__details-group-title {
  margin-bottom: $space-025;
}


.v_activity__details-group-content {
  font-size: $fontSize-125;
  margin-left: $space-125;

  line-height: $lineHeight-120;
}


.v_activity__details-none {
  color: $color-grey-400;
}





// Activity Text
// ========================================


.v_activity__contents {
  margin-top: $space-400;
  margin-bottom: $space-500;

  @include breakpoint(lg) {
    margin-top: 0;
  }
}





// Copyright
// ========================================


.v_activity__cc {
  font-size: $fontSize-087;
  line-height: $lineHeight-150;
}


.v_activity__cc-icon {
  margin-bottom: $space-050;
}
