//
// Components / Contents
// ================================================================================


.contents {
  position: relative;
  z-index: $zindex-normal;
  padding-top: $space-300;

  @include breakpoint(md) {
    padding-top: $space-400;
  }

  @include breakpoint(lg) {
    padding-top: $space-500;
  }
}
