{{#> layouts._html-shell
    pageClass="v_activity"
    _pageUrl="https://learn.microblocks.fun/"
    _pageDescription="MicroBlocks is a live blocks programming language for physical computing."
}}

{{#*inline "main-content"}}


<!-- Header -->
<header class="v_activity__hero c_hero-yellow">
    <div class="row row--center">

        <div class="col col-px col-12 sm-col-8 md-col-6 lg-col-3 xl-col-3">
            <div class="c_hero-yellow__picture-wrapper">
                <div class="c_hero-yellow__picture">
                    <img src="thumbnail.jpg" alt="{{title}}">
                </div>
            </div>
        </div>

        <div class="col col-px col-12">
            <div class="c_hero-yellow__title-wrapper">
                <h1 class="c_hero-yellow__title">{{title}}</h1>
                <address class="c_hero-yellow__author">{{localize "author" author}}</address>
            </div>
        </div>

        <div class="col col-px col-12">
            <div class="c_hero-yellow__specs">

                <div class="c_hero-yellow__boards">
                    <h3 class="c_hero-yellow__boards-title c_title-small">
                        <div class="c_title-small__icon">
                            {{> svg.icon-board-20x20 }}
                        </div>
                        {{localize "boards"}}:
                    </h3>
                    <div class="c_hero-yellow__boards-list">
                        {{#each boards}}
                        <span class="c_comma-separated">{{localize this}}</span>
                        {{/each}}
                    </div>
                </div>

                <div class="c_hero-yellow__components">
                    <h3 class="c_hero-yellow__components-title c_title-small">
                        <div class="c_title-small__icon">
                            {{> svg.icon-components-16x16 }}
                        </div>
                        {{localize "components"}}:
                    </h3>
                    <div class="c_hero-yellow__components-list">
                        {{#if components}}
                            {{#each components}}
                            <span class="c_comma-separated">{{localize this}}</span>
                            {{/each}}
                        {{else}}
                            <span>{{localize 'no-components'}}</span>
                        {{/if}}
                    </div>
                </div>

            </div>
        </div>

    </div>
</header>


<div class="contents">
    <div class="row">


        <!-- Sidebar Contents -->
        <div class="col col-px col-12 lg-col-3 xl-col-3">
            {{#if (or has-guide has-card has-project has-video)}}
            <aside class="v_activity__side-block v_activity__side-block--resources">
                <h3 class="v_activity__side-title">
                    {{localize "resources"}}
                </h3>
                <div class="v_activity__side-contents">

                    {{#if has-card}}
                    {{> _button
                        href=card-url
                        title=(localize "activity-card")
                        icon='svg.icon-scripts-20x20'
                        arrow='svg.icon-arrow-right-16x16'
                    }}
                    {{/if}}

                    {{#if has-guide}}
                    {{> _button
                        href="./guide"
                        title=(localize "teachers-guide")
                        icon='svg.icon-student-16x16'
                        arrow='svg.icon-arrow-right-16x16'
                    }}
                    {{/if}}

                    {{#if has-project}}
                    {{> _button
                        href="./project.ubp"
                        title=(localize "microblocks-project")
                        icon='svg.icon-scripts-20x20'
                        arrow='svg.icon-arrow-down-16x16'
                        download="project.ubp"
                    }}
                    {{/if}}

                    {{#if has-video}}
                    {{> _button
                        href=video-url
                        title=(localize "video")
                        icon='svg.icon-video-20x20'
                        arrow='svg.icon-arrow-up-right-16x16'
                        download=true
                    }}
                    {{/if}}

                </div>
            </aside>
            {{/if}}

            <aside class="v_activity__side-block v_activity__side-block--details">
                <h3 class="v_activity__side-title">
                    {{localize "activity-details"}}
                </h3>
                <div class="v_activity__side-contents">

                    <div class="v_activity__details-group">
                        <h4 class="v_activity__details-group-title c_title-small">
                            <div class="c_title-small__icon">
                                {{> svg.icon-student-16x16 }}
                            </div>
                            {{localize "lbl-level"}}
                        </h4>
                        <div class="v_activity__details-group-content">
                            {{localize (join "lvl_" level)}}
                        </div>
                    </div>

                    <div class="v_activity__details-group">
                        <h4 class="v_activity__details-group-title c_title-small">
                            <div class="c_title-small__icon">
                                {{> svg.icon-duration-16x16 }}
                            </div>
                            {{localize "lbl-duration"}}
                        </h4>
                        <div class="v_activity__details-group-content">
                            {{localize "duration" time.[0] time.[1]}}
                        </div>
                    </div>

                    {{#if topics}}
                    <div class="v_activity__details-group">
                        <h4 class="v_activity__details-group-title c_title-small">
                            <div class="c_title-small__icon">
                                {{> svg.icon-topics-16x16 }}
                            </div>
                            {{localize "lbl-topics"}}
                        </h4>
                        <div class="v_activity__details-group-content">
                            {{#each topics}}
                            <span class="c_comma-separated">{{localize this}}</span>
                            {{/each}}
                        </div>
                    </div>
                    {{/if}}

                    <div class="v_activity__details-group">
                        <h4 class="v_activity__details-group-title c_title-small">
                            <div class="c_title-small__icon">
                                {{> svg.icon-language-16x16 }}
                            </div>
                            {{localize "lbl-languages"}}
                        </h4>

                        <div class="v_activity__details-group-content">
                        {{#if translations}}
                            <ul>
                                {{#each translations}}
                                <li>
                                    <a class="v_activity__details-link" href="../{{this.slug}}">
                                        {{language-name this.langCode}}
                                        <div class="v_activity__details-link-svg">
                                            {{> svg.icon-arrow-right-16x16 }}
                                        </div>
                                    </a>
                                </li>
                                {{/each}}
                            </ul>
                        {{else}}
                            <span class="v_activity__details-none">{{localize "no-translations"}}</span>
                        {{/if}}
                        </div>

                    </div>

                </div>
            </aside>

            {{#if card-slides-url}}
            <aside class="v_activity__side-block v_activity__side-block--translate">
                {{!-- <h3 class="v_activity__side-title">
                    {{localize "lbl-translate"}}
                </h3> --}}
                <div class="v_activity__side-contents">
                    <p>
{{#markdown}}
{{localize "translate-txt"
    (join "[" (localize "translate-guidelines") "](https://microblocks.fun/contribute#translate)")
}}
{{/markdown}}
                    </p>
                    <a class="c_button-small" href="{{card-slides-url}}">
                        <div class="c_button-small__icon">
                            {{> svg.icon-slides-16x16 }}
                        </div>
                        <span>{{localize "btn-card-slides"}}</span>
                    </a>
                </div>
            </aside>
            {{/if}}

        </div><!-- Sidebar Contents -->


        <!-- Activity Text -->
        <div class="col col-px col-12 lg-offset-1 lg-col-8 xl-offset-1 xl-col-8">

			<article class="v_activity__contents wysiwyg">

                {{! insert the compiled markdown for this particular activity }}
                {{#markdown markdown}}{{/markdown}}

            </article>

			<div class="v_activity__cc">
				<div class="v_activity__cc-icon">
					{{> svg.icons-creative-commons }}
				</div>
				<p>
					© <b>{{localize "author" author}}</b> 2019-2022.<br>
					{{localize "cc-license"}}
				</p>
			</div>

        </div><!-- Activity Text -->


    </div>
</div>

{{/inline}}

{{/layouts._html-shell }}
