//
// Elements / Blockquote
// ==============================================================================

blockquote {
  padding-left: $space-100;
  border-left-color: $color-grey-700;
  border-left-width: $space-050;
  border-left-style: solid;
  font-style: italic;
  p {
    color: $color-grey-700 !important;
  }
}
